{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/quizs/ind.css' %}"/>
{% endblock %} 

{% block header %}
  <nav>
    <ul>
        <li><a href="{% url 'menu' %}">HOME</a></li> 
        <li><a href="{% url 'user-profile' %}">profile</a></li> 
        <li><a href="{% url 'quiz-index' %}">your quizzes</a></li>
        <li><a href="{% url 'comunity' %}">all quizzes</a></li>
        <li><a href="{% url 'question-index' %}">questions</a></li>
        <li>
          <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
          </form>
        </li>
    </ul>
  </nav>
{% endblock %} 

{% block content %}
<div class="page">
  <section class="page-header">
    <h1>All Quizzez</h1>
  </section>
  <section class="quiz-container">
    {% for quiz in quizs %}
      <div class="quiz">
        <a href="{% url 'quiz-detail' quiz.id %}">
          <div class="quiz-content">
            <h2 class="card-title">{{ quiz.name }}</h2>
          </div>
        </a>
      </div>
    {% endfor %}
  </section>
</div>
{% endblock %}