{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/for.css' %}" />
{% endblock %}
{% block content %}
<div class="page-header">
  <h1>Login</h1>
</div>
<div>
  {% if error_message %}
  <p class="error-txt">{{ error_message }}</p>
  {% endif %}
  <form action="" method="post" class="form-container">
    {% csrf_token %} 
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit" class="btn submit">Login</button>
  </form>
</div>

<a href="{% url 'menu' %}" class="btn blu">Back</a>

{% endblock %}