{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}" />
{% endblock %} 
{% block content %}

<section class="menu-container" >
  <div>
    <img src="{% static 'images/mini_bunny.gif' %}" alt="The Cat Collector Cat" />
  </div>
  <h1>THE INCONCEIVABLE QUIZ</h1>
</section>

<section class="sidebar-container">
  <div class="card">
    <ul>
        <a href="{% url 'play-game' %}"><li class="btn blu">Play Quiz</li></a>
        <a href="{% url 'info' %}"><li class="btn gre">how to</li></a>
        {% if user.is_authenticated %}
        <a href="{% url 'comunity' %}"><li class="btn start">Comunity</li></a>
        <li class="btn start">
            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Log out</button>
            </form>
          </li>
        {% else %}
        <a href="{% url 'login' %}"><li class="btn blu">Returning User</li></a>
        <a href="{% url 'signup' %}"><li class="btn gre">New User</li></a>
        {% endif %}
    </ul>
  </div>
</section>

{% endblock %}