{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}"/>
{% endblock %} 

{% block header %}
  <nav>
    <ul>
        <li><a href="{% url 'menu' %}">HOME</a></li> 
        <li><a href="{% url 'user-profile' %}">profile</a></li> 
        <li><a href="{% url 'quiz-index' %}">quizzes</a></li>
        <li><a href="{% url 'question-index' %}">questions</a></li>
    </ul>
  </nav>
{% endblock %} 

{% block content %}
<section class="page-header">
  <h1>User Page</h1>
</section>
<section class="card-container">
    <h2>Update Profile</h2>
    <form  method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form>
</section>
{% endblock %}