{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profil.css' %}"/>
{% endblock %} 

{% block header %}
  <nav>
    <ul>
        <li><a href="{% url 'menu' %}">HOME</a></li> 
        <li><a href="{% url 'user-profile' %}">profile</a></li> 
        <li><a href="{% url 'quiz-index' %}">your quizzes</a></li>
        <li><a href="{% url 'comunity' %}">all quizzes</a></li>
        <li><a href="{% url 'question-index' %}">questions</a></li>
        <li>
          <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
          </form>
        </li>
    </ul>
  </nav>
{% endblock %}  

{% block content %}
<a href="{% url 'profile_update'%}">
  <section class="page-header">
    <h1>{{ user }} Page</h1>
  </section>
</a>
<div class="info-container">
    <div class="info">
          <h2>{{ user.first_name }} {{ user.last_name }}</h2>
          <h4>{{ user.email }}</h4>
    </div>
    <hr>
    <h1>NO INFORMANTION HERE YET</h1>
</div>
{% endblock %}