{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/screen.css' %}" />
{% endblock %} 
{% block content %}

<section class="menu-container" >
  <div class="title-container">
    <img src="{% static 'images/mini_bunny.gif' %}" alt="The Cat Collector Cat" />
    <h1>THE INCONCEIVABLE QUIZ</h1>
  </div>
  



  <div class="card">
    <ul>
        <li class="btn start"><a>Play Quiz</a></li>
        <li class="btn start"><a href="{% url 'info' %}">how to</a></li>
        {% if user.is_authenticated %}
        <li class="btn start"><a href="{% url 'comunity' %}">Comunity</a></li>
        <li class="btn start">
            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Log out</button>
            </form>
          </li>
        {% else %}
        <li class="btn start"><a href="{% url 'login' %}">Returning User</a></li>
        <li class="btn start"><a href="{% url 'signup' %}">New User</a></li>
        {% endif %}
    </ul>
  </div>
</section>

{% endblock %}