main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  }

  main > section {
    width: 100%;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
  }

  .title-container{
    width: 80%;
  }

  .card {
    width: 275px;
    margin: 10px;
  }

  .sidebar-container {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card-content {
    padding: 10px;
    width: 100%;
  }