html {
    box-sizing: border-box;
  }

  *,
  *::before, 
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    --nav-bg: rgba(104, 197, 248, 0.7);
    --nav-bg-ff: rgba(104, 197, 248, 0.9);
    --borders: rgb(36, 116, 248) solid 2px;
    --text-color: rgb(17, 20, 17);
    --link-hover-color: rgb(16, 56, 158);
    --button-bg: rgb(245, 245, 245);
    --button-bg-hover: rgb(226, 226, 226);
    --submit: rgb(26, 128, 0);
    --warn: rgb(255, 102, 0);
    --danger: rgb(220, 20, 30);
    --secondary: rgb(57, 57, 57);
    --card-box-shadow: 5px 5px 6px -1px #aaa;
    --font-xtreme: 4.2rem;
    --font-xxl: 3.6rem;
    --font-xl: 2.4rem;
    --font-l: 1.8rem;
    --font-reg: 1.6rem;
    --card-border-radius: 6px;
  }
  
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }
  
  main {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background-image: url('/static/images/bunnies_background.png');
    background-size: cover;
    background-position: center;
  }

  main > section {
    width: 100%;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  h1 {
    font-size: var(--font-xl);
  }

  nav {
    margin: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
  }
  
  nav a:hover {
    color: var(--link-hover-color);
  }
  
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  nav li {
    padding: 5px 8px;
  }

  .container {
    width: 80%;
    height: 80%;
    margin: 10px; 
  }
  
  .btn {
    font-size: var(--font-l);
    padding: 8px 16px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    background-color: var(--button-bg);
    font-weight: 600;
    cursor: pointer;
    font-family: inherit;
    margin-right: 10px;
  }
  
  .btn:hover {
    background-color: var(--button-bg-hover);
  }
  
  .submit {
    color: var(--submit);
    border-color: var(--submit);
  }
  
  .secondary {
    color: var(--secondary);
    border-color: var(--secondary);
  }
  
  .warn {
    color: var(--warn);
    border-color: var(--warn);
  }
  
  .danger {
    color: var(--danger);
    border-color: var(--danger);
  }

  .start {
    color: var(--start);
    border-color: var(--start);
  }

  #logout-form button {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
  }
  
  #logout-form button:hover {
    color: var(--link-hover-color);
  } 