{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/for.css' %}" />
{% endblock %} 

{% block header %}
  <nav>
    <ul>
        <li><a href="{% url 'menu' %}">HOME</a></li> 
        <li><a href="{% url 'user-profile' %}">profile</a></li> 
        <li><a href="{% url 'quiz-index' %}">your quizzes</a></li>
        <li><a href="{% url 'comunity' %}">all quizzes</a></li>
        <li><a href="{% url 'question-index' %}">questions</a></li>
        <li>
          <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
          </form>
        </li>
    </ul>
  </nav>
{% endblock %} 

{% block content %}
<div class="page-header">
    {% if cat %}
        <h1>Edit {{ quiz.name }}</h1>
    {% else %}
        <h1>add quiz</h1>
    {% endif %}
</div>
<div>
  <form action="" method="post" class="form-container">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit" class="btn submit">Submit!</button>
  </form>
</div>
{% endblock %}